<template>
  <div>
    <div class="title">
      <h1>{{msg}}</h1>
    </div>
  </div>
</template>

<script>
export default {
  name: 'admin',
  data: function () {
    return {
      msg: "Welcome to Admin Page"
    }
  }
}
</script>