<template>
  <div>
    <div class="title">
      <h1>This is admin / edit /{{$route.params.id}}</h1>
    </div>
  </div>
</template>

<script>
export default {
  created: function () {
    console.log(this.$route.params.id)
  }
}
</script>